<ion-header-bar align-title="left" class="bar-light">
	<h1 class="title">{{ vm.title }}</h1>
</ion-header-bar>
<ion-content class="has-header">
	<div class="list">
		<label class="item item-input item-select">
			<div class="input-label">Substância</div>
			<select ng-model="vm.substance" ng-options="substance.id as substance.name for substance in vm.substanceList"></select>
		</label>
		<label class="item item-input item-select">
			<div class="input-label">Dados de Entrada</div>
			<select ng-model="vm.input" ng-options="input.id as input.properties for input in vm.substanceList[vm.substance - 1].inputs"></select>
		</label>
		<label class="item item-input">
			<div class="input-label">Dado 1</div>
			<input type="number">
		</label>
		<label class="item item-input">
			<div class="input-label">Dado 2</div>
			<input type="number">
		</label>
	</div>
	{{ vm.input }}
</ion-content>
