<ion-header-bar align-title="center" class="bar-light">
    <button ui-sref="calculate" class="button-clear button icon ion-ios-arrow-left">Voltar</button>
    <h1 class="title"><b>Configurações</b></h1>
</ion-header-bar>
<ion-content class="has-header">
    <div class="list">
        <div class="item item-divider"><b>Geral</b></div>
        <label class="item item-input item-select">
            <div class="input-label">Casas Decimais</div>
            <select ng-model="vm.decimalPlaces">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
            </select>
        </label>
        <div class="item item-divider"><b>Unidades</b></div>
        <label class="item item-input item-select">
            <div class="input-label">Temperatura</div>
            <select ng-model="vm.temperatureUnit">
                <option value="1">ºC</option>
                <option value="2">K</option>
            </select>
        </label>
    </div>
    <div class="row">
        <div class="col">
            <button ng-click="vm.save()" class="button button-block button-positive">Salvar</button>
        </div>
    </div>
</ion-content>