<ion-view>
    <ion-header-bar align-title="center" class="bar-light">
        <button ui-sref="calculate" class="button-clear button icon ion-ios-arrow-left">Voltar</button>
        <h1 class="title"><b>Configurações</b></h1>
    </ion-header-bar>
    <ion-content class="has-header">
        <div class="list">
            <div class="item item-divider"><b>Geral</b></div>
            <label class="item item-input item-select">
                <div class="input-label">Casas Decimais</div>
                <select ng-model="vm.decimalPlaces">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select>
            </label>
            <div class="item item-divider"><b>Unidades</b></div>
            <label class="item item-input item-select">
                <div class="input-label">Temperatura</div>
                <select ng-model="vm.units.t">
                    <option value="tempC">ºC</option>
                    <option value="tempK">K</option>
                    <!--<option value="tempF">ºF</option>-->
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">Pressão</div>
                <select ng-model="vm.units.p">
                    <option value="bar">bar</option>
                    <option value="mbar">mbar</option>
                    <option value="Pa">Pa</option>
                    <option value="kPa">kPa</option>
                    <option value="MPa">MPa</option>
                    <!--<option value="1">psi</option>-->
                    <!--<option value="1">kp/cm^2</option>-->
                    <!--<option value="1">at</option>-->
                    <!--<option value="1">atm</option>-->
                    <!--<option value="1">mmHg</option>-->
                    <!--<option value="1">Torr</option>-->
                    <!--<option value="1">m H2O</option>-->
                    <!--<option value="1">in Hg</option>-->
                    <!--<option value="1">ft H2O</option>-->
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">Densidade</div>
                <select ng-model="vm.units.rho">
                    <option value="kg/m^3">kg/m^3</option>
                    <option value="g/m^3">g/m^3</option>
                    <option value="kg/l">kg/l</option>
                    <option value="g/l">g/l</option>
                    <option value="g/ml">g/ml</option>
                    <!--<option value="2">lb/ft^3</option>-->
                    <!--<option value="2">lb/in^3</option>-->
                    <!--<option value="2">lb/gal(US)</option>-->
                    <!--<option value="2">lb/gal(UK)</option>-->
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">Volume Específico</div>
                <select ng-model="vm.units.v">
                    <option value="m^3/kg">m^3/kg</option>
                    <option value="m^3/g">m^3/g</option>
                    <option value="l/kg">l/kg</option>
                    <option value="l/g">l/g</option>
                    <option value="ml/g">ml/g</option>
                    <!--<option value="2">ft^3/lb</option>-->
                    <!--<option value="2">in^3/lb</option>-->
                    <!--<option value="2">gal(US)/lb</option>-->
                    <!--<option value="2">gal(UK)/lb</option>-->
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">Energia Interna</div>
                <select ng-model="vm.units.u">
                    <option value="kJ/kg">kJ/kg</option>
                    <option value="J/kg">J/kg</option>
                    <option value="J/g">J/g</option>
                    <!--<option value="2">btu/lb</option>-->
                    <!--<option value="2">kcal/kg</option>-->
                    <!--<option value="2">cal/kg</option>-->
                    <!--<option value="2">cal/g</option>-->
                    <!--<option value="2">ft lbf/lbm</option>-->
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">Entropia</div>
                <select ng-model="vm.units.s">
                    <option value="kJ/kg degK">kJ/(kg K)</option>
                    <option value="J/kg degK">J/(kg K)</option>
                    <option value="J/g degK">J/(g K)</option>
                    <!--<option value="2">kcal/kg K</option>-->
                    <!--<option value="2">cal/kg K</option>-->
                    <!--<option value="2">cal/g K</option>-->
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">Entalpia</div>
                <select ng-model="vm.units.h">
                    <option value="kJ/kg">kJ/kg</option>
                    <option value="J/kg">J/kg</option>
                    <option value="J/g">J/g</option>
                    <!--<option value="2">btu/lb</option>-->
                    <!--<option value="2">kcal/kg</option>-->
                    <!--<option value="2">cal/kg</option>-->
                    <!--<option value="2">cal/g</option>-->
                    <!--<option value="2">ft lbf/lbm</option>-->
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">Cp</div>
                <select ng-model="vm.units.cp">
                    <option value="kJ/kg degK">kJ/(kg K)</option>
                    <option value="J/kg degK">J/(kg K)</option>
                    <option value="J/g degK">J/(g K)</option>
                    <!--<option value="2">kcal/kg K</option>-->
                    <!--<option value="2">cal/kg K</option>-->
                    <!--<option value="2">cal/g K</option>-->
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">Cv</div>
                <select ng-model="vm.units.cv">
                    <option value="kJ/kg degK">kJ/(kg K)</option>
                    <option value="J/kg degK">J/(kg K)</option>
                    <option value="J/g degK">J/(g K)</option>
                    <!--<option value="2">kcal/kg K</option>-->
                    <!--<option value="2">cal/kg K</option>-->
                    <!--<option value="2">cal/g K</option>-->
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">Velocidade do Som</div>
                <select ng-model="vm.units.w">
                    <option value="m/s">m/s</option>
                    <option value="km/h">km/h</option>
                    <!--<option value="2">ft/s</option>-->
                    <!--<option value="2">mile/h</option>-->
                    <!--<option value="2">in/s</option>-->
                </select>
            </label>

        </div>
        <div class="row">
            <div class="col">
                <button ng-click="vm.save()" class="button button-block button-positive">Salvar</button>
            </div>
        </div>
    </ion-content>
</ion-view>